---
---
@import "{{ site.theme }}";
footer.inner p {display: none;}
a#forkme_banner {display: none;}
#downloads {display: none;}
/*hr.article-break {margin-bottom: 40px;}*/

hr.article-break { overflow: visible; /* For IE */ padding: 0; border: none; border-top: medium double #333; color: #333; text-align: center; } 
hr.article-break:after { content: "§"; display: inline-block; position: relative; top: -0.7em; font-size: 1.5em; padding: 0 0.25em; background: white; }
